<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
      integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Mercado Liebre</title>
  </head>
  <body>
    <header class="main-header">
      <div class="header-top">
        <div class="logo">
          <a href="/">
            <img
              src="/images/logo-mercado-liebre.svg"
              alt="Logo Mercado Liebre"
            />
          </a>
        </div>
        <div class="busqueda">
          <form action="">
            <input type="text" placeholder="Buscar productos, marcas" />
            <button type="submit"><i class="fas fa-search"></i></button>
          </form>
        </div>

        <div class="cuotas">
          <i class="fas fa-hand-holding-usd"></i>
          <p>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
      </div>
      <div class="header-bottom">
        <nav class="nav-site">
          <ul>
            <li><a href="">Ofertas</a></li>
            <li><a href="">Tiendas Oficiales</a></li>
            <li><a href="">Vender</a></li>
            <li><a href="">Ayuda</a></li>
            <li><a href="contact.html">Consulta Producto</a></li>
          </ul>
        </nav>

        <nav class="nav-login">
          <ul>
            <li>
              <a href="/register"
                >Creá tu cuenta <i class="far fa-address-card"></i
              ></a>
            </li>
            <li>
              <a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a>
            </li>
            <li>
              <a href="">Mis compras <i class="fas fa-shopping-basket"></i></a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="burger-menu">
        <i class="fa fa-bars burger"></i>
      </div>
    </header>
    <div class="banner">
      <img src="/images/img-home-banner.jpg" alt="banner" />
    </div>
    <main>
      <section>
        <h2>Sección: Basado en tu última visita</h2>
        <div class="article-container">
          <article>
            <img
              src="/images/img-cafetera-moulinex.jpg"
              alt="Cafetera Moulinex"
            />
            <div class="datos-articulo">
              <i class="fas fa-truck envio-icono"></i>
              <div class="precio-descuento">
                <p class="precio">$6.770</p>
                <p class="descuento">40% OFF</p>
              </div>
              <p class="descripcion">Moulinex</p>
            </div>
          </article>
          <article>
            <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook" />
            <div class="datos-articulo">
              <i class="fas fa-truck envio-icono"></i>
              <div class="precio-descuento">
                <p class="precio">$230.000</p>
                <p class="descuento">20% off</p>
              </div>
              <p class="descripcion">MacBook Pro 2019</p>
            </div>
          </article>
          <article>
            <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung S10" />
            <div class="datos-articulo">
              <i class="fas fa-truck envio-icono"></i>
              <div class="precio-descuento">
                <p class="precio">$70.500</p>
                <p class="descuento">10% off</p>
              </div>

              <p class="descripcion">Samsung Galaxy S10</p>
            </div>
          </article>
          <article>
            <img src="/images/img-tv-samsung-smart.jpg" alt="Samsung TV" />
            <div class="datos-articulo">
              <i class="fas fa-truck envio-icono"></i>
              <div class="precio-descuento">
                <p class="precio">$23.200</p>
                <p class="descuento">5% off</p>
              </div>
              <p class="descripcion">SmartTv Samsung 43"</p>
            </div>
          </article>
        </div>
      </section>
      <section>
        <h2>Sección de Ofertas</h2>
        <div class="article-container">
          <article>
            <img
              src="/images/img-cafetera-moulinex.jpg"
              alt="Cafetera Moulinex"
            />
            <div class="datos-articulo">
              <i class="fas fa-truck envio-icono"></i>
              <div class="precio-descuento">
                <p class="precio">$6.770</p>
                <p class="descuento">40% OFF</p>
              </div>
              <p class="descripcion">Moulinex</p>
            </div>
          </article>
          <article>
            <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook" />
            <div class="datos-articulo">
              <i class="fas fa-truck envio-icono"></i>
              <div class="precio-descuento">
                <p class="precio">$230.000</p>
                <p class="descuento">20% off</p>
              </div>
              <p class="descripcion">MacBook Pro 2019</p>
            </div>
          </article>
          <article>
            <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung S10" />
            <div class="datos-articulo">
              <i class="fas fa-truck envio-icono"></i>
              <div class="precio-descuento">
                <p class="precio">$70.500</p>
                <p class="descuento">10% off</p>
              </div>
              <p class="descripcion">Samsung Galaxy S10</p>
            </div>
          </article>
          <article>
            <img src="/images/img-tv-samsung-smart.jpg" alt="Samsung TV" />
            <div class="datos-articulo">
              <i class="fas fa-truck envio-icono"></i>
              <div class="precio-descuento">
                <p class="precio">$23.200</p>
                <p class="descuento">5% off</p>
              </div>
              <p class="descripcion">SmartTv Samsung 43"</p>
            </div>
          </article>
        </div>
      </section>
    </main>
    <footer>
      <div class="footer-column">
        <div class="footer-icon">
          <i class="fas fa-credit-card"></i>
        </div>
        <h2>Pagá con tarjeta o en efectivo</h2>
        <p>
          Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
          efectivo en puntos de pago. ¡Y siempre es seguro!
        </p>
      </div>
      <div class="footer-column">
        <div class="footer-icon">
          <i class="fas fa-gift"></i>
        </div>
        <h2>Envío gratis desde $ 2.500</h2>
        <p>
          Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
          miles de productos. Es un beneficio de Mercado Puntos.
        </p>
      </div>
      <div class="footer-column">
        <div class="footer-icon">
          <i class="fas fa-user-shield"></i>
        </div>
        <h2>Seguridad, de principio a fin</h2>
        <p>
          ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
          hacer, porque estás siempre protegid@.
        </p>
      </div>
      <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
  </body>
</html>
